// Define your variable overrides here
$enable-shadows: true;
// $enable-gradients: true;
// $grid-breakpoints: (
//   xs: 0,
//   sm: 456px,
//   md: 789px,
//   lg: 999px,
//   xl: 1234px
// );
$bv-enable-table-stacked: false;
$primary: #633DA5;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';